.theme-toggle button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #405D72;
    transition: transform 0.5s ease, opacity 0.3s ease, color 0.5s ease;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  body.dark-mode .theme-toggle button {
    color: #B9B4C7;
    transform: rotate(180deg);
    transition: transform 0.5s ease, opacity 0.3s ease, color 0.5s ease;
  }
  
  .theme-toggle button.animate {
    transform: rotate(180deg);
    opacity: 0;
  }
  