body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FFF8F3;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  margin: 0;
  padding: 0 20px;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body.dark-mode {
  background-color: #352F44;
  color: #FAF0E6;
  transition: background-color 0.5s ease, color 0.5s ease;
}

