
input[type="file"] {
  display: none;
}

.section-image {
  padding: 25px;
  background-color: #4f4763;
  border-radius: 8px;
  margin: 0 auto; 
  margin-top: 50px;
  width: 600px;
  text-align: center;
  color: white;
}

.title-header-image h2 {
  margin-bottom: 20px;
}

.section-image-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #352F44;
  padding: 30px;
  border-radius: 15px;
  color: white;
  margin-bottom: 20px;
}

.custom-file-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  background-color: #352F44;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: #5C5470;
}


.buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

button.convert-image-btn,
button.clean-image-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #352F44; 
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 120px;
}

button.clean-image-btn {
  background-color: #451c3c; 
}

button.convert-image-btn:hover {
  background-color: #3CB371;
}

button.clean-image-btn:hover {
  background-color: #FF4500;
}
